<!DOCTYPE html>
<html lang="ja">
<head>
    <title>FinManager(借)</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'analyzeViewer/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'analyzeViewer/style.css' %}" />
</head>
<body>
    <div class = "top_main_visual_top dark-primary-color"></div>
    <div class = "top_main_visual default-primary-color">
        <p class = "top_main_title text-primary-color">
            Palette preview
            <span class = "third-text-color">Full Palette colors below</span>
        </p>
    </div>
    <div class = "top-first-content">
        <div class = "top-left">
            <h2 class = "primary-text-color">コラボレーションを促進して仕事を素早く、楽しく</h2>
            <p class = "secondary-text-color">
                Backlogはシンプルで直感的に使えるデザインが特長です。開発者はもちろん、マーケターやデザイナーなどのチームメンバー全員がすぐに使いこなせます。<br><br>
                一つのプラットフォームでチームメンバーの作業状況をこまめに共有することで、プロジェクトを迅速に進めることができます。<br><br>
                <a href=".">機能の詳細を見る »</a>
            </p>
        </div>
        <div class = "top-right">
            <div class = "top-content-image">
              <img src="{% static 'images/home_features_screen_list_ja.png' %}">
            </div>
        </div>
    </div>
    <div class = "top-second-content">
        <div class = "primary-text-color top-center">
            <h2>プロジェクト管理に必要な機能がオールインワン</h2>
        </div>
        <div class = "top-second-detail top-center">
            <ul>
                <li>
                    <div class = "top-second-detail-image" style = "background-image:url({% static 'images/ae1b47fc0bd27708d78364cd4ae76e38.png' %})">

                    </div>
                    <div class = "top-second-detail-text">
                        <h3 class = "primary-text-color">プロジェクト管理</h3>
                        <p class = "secondary-text-color">チームメンバーの仕事を一つのプロジェクトにまとめることで担当者や期限を明確にします。作業の進捗やプロジェクトの達成率の見える化を実現します。</p>
                    </div>
                </li>
                <li>
                    <div class = "top-second-detail-image" style = "background-image:url({% static 'images/ae1b47fc0bd27708d78364cd4ae76e38.png' %})">

                    </div>
                    <div class = "top-second-detail-text">
                        <h3 class = "primary-text-color">プロジェクト管理</h3>
                        <p class = "secondary-text-color">チームメンバーの仕事を一つのプロジェクトにまとめることで担当者や期限を明確にします。作業の進捗やプロジェクトの達成率の見える化を実現します。</p>
                    </div>
                </li>
                <li>
                    <div class = "top-second-detail-image" style = "background-image:url({% static 'images/ae1b47fc0bd27708d78364cd4ae76e38.png' %})">

                    </div>
                    <div class = "top-second-detail-text">
                        <h3 class = "primary-text-color">プロジェクト管理</h3>
                        <p class = "secondary-text-color">チームメンバーの仕事を一つのプロジェクトにまとめることで担当者や期限を明確にします。作業の進捗やプロジェクトの達成率の見える化を実現します。</p>
                    </div>
                </li>
                <li>
                    <div class = "top-second-detail-image" style = "background-image:url({% static 'images/ae1b47fc0bd27708d78364cd4ae76e38.png' %})">

                    </div>
                    <div class = "top-second-detail-text">
                        <h3 class = "primary-text-color">プロジェクト管理</h3>
                        <p class = "secondary-text-color">チームメンバーの仕事を一つのプロジェクトにまとめることで担当者や期限を明確にします。作業の進捗やプロジェクトの達成率の見える化を実現します。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class = "third-third-content">
        <div class = "top-left">
            <div class = "top-content-image">
              <img src="{% static 'images/home_features_screen_list_ja.png' %}">
            </div>
        </div>
        <div class = "top-right">
            <h2 class = "primary-text-color">ガントチャートやマイルストーンで作業計画を一目瞭然に</h2>
            <p class = "secondary-text-color">
                Backlogはシンプルで直感的に使えるデザインが特長です。開発者はもちろん、マーケターやデザイナーなどのチームメンバー全員がすぐに使いこなせます。<br><br>
                一つのプラットフォームでチームメンバーの作業状況をこまめに共有することで、プロジェクトを迅速に進めることができます。<br><br>
                <a href=".">機能の詳細を見る »</a>
            </p>
        </div>
    </div>
    <footer>
        <div>
            <div class = "footer-left">

            </div>
            <div class = "footer-right">
                <div>
                    <p>製品について</p>
                    <ul>
                        <li><a href=".">- トップページ</a></li>
                        <li><a href=".">- プラン</a></li>
                        <li><a href=".">- 機能一覧</a></li>
                        <li><a href=".">- 導入事例</a></li>
                        <li><a href=".">- 関連サービス</a></li>
                    </ul>
                </div>
                <div>
                    <p>サポート</p>
                    <ul>
                        <li><a href=".">- 利用規約</a></li>
                        <li><a href=".">- ご意見ご要望</a></li>
                        <li><a href=".">- 機能一覧</a></li>
                        <li><a href=".">- 導入事例</a></li>
                        <li><a href=".">- 関連サービス</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>